+++
title = "Seed Finding"
linkTitle = "Seed Finding"

+++

{{< blocks/cover loading="lazy" title="Seed finding made easy !" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/hube12/General-Seed-Finder-Tools">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Start your jouney here :</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This site provides explanation to use the tool suite provided on the github as well as some web tools to use on the go.

This is still under **construction** but I will try to get it as simple as possible.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Batteries included !" %}}
The tool suite have an integrated GUI as well as its own collaborative server-client suite, allowing the share of workload.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
I would love your feedback and your input on what to do next, please head over to [Github](https://github.com/hube12/General-Seed-Finder-Tools/wiki/Helping) to learn how !
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/NeilSeed" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the media section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/hube12/General-Seed-Finder-Tools" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/NeilSeed" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

